.registerform {
    height: 160px;
    position: absolute;
    top: 330px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.popup-inner {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    border: none;
}
.formContainer {
    padding: 40px;
    border: none;
}
.close {
    position: absolute;
    z-index: 1000;
    top: 70px;
    right: 80px;
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .registerform {
        height: 320px;
        top: 200px;
        padding: 10px;
    }
    .popup-inner {
        position: relative;
        padding: 5px;
        width: 100%;
        height: 90vh;
        background-color: #fff;
        border: none;
    }
    .close {
        position: absolute;
        z-index: 1000;
        top: 60px;
        right: 60px;
        font-size: 2rem;
        cursor: pointer;
    }
    .formContainer {
        height: 80vh;
        border: none;
    }
}